@model Domain.Models.Poll

<h2>Create Poll</h2>


<form action="/Polls/Create" method="post">
    <div class="form-group">
        <label for="Title">Poll Title</label>
        <input type="text" class="form-control" id="Title" name="Title" value="@Model.Title" required />
    </div>
    <div class="form-group">
        <label for="Option1Text">Option 1</label>
        <input type="text" class="form-control" id="Option1Text" name="Option1Text" value="@Model.Option1Text" required />
    </div>
    <div class="form-group">
        <label for="Option2Text">Option 2</label>
        <input type="text" class="form-control" id="Option2Text" name="Option2Text" value="@Model.Option2Text" required />
    </div>
    <div class="form-group">
        <label for="Option3Text">Option 3</label>
        <input type="text" class="form-control" id="Option3Text" name="Option3Text" value="@Model.Option3Text" required />
    </div>
    <div class="form-group">
        <label for="DateCreated">Date</label>
        <input type="datetime" class="form-control" id="DateCreated" name="DateCreated" value="@Model.DateCreated" required />
    </div>
    <div class="form-group">
        <label for="StorageOption">Choose Storage Option</label>
        <select class="form-control" id="StorageOption" name="StorageOption" required>
            <option value="Database">Database (SQL)</option>
            <option value="File">JSON File</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Create Poll</button>
</form>
